body {
    font-family: Arial, sans-serif;
    background-color: #342286;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column; 
}

header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px; 
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px; 
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 30px;
    background: linear-gradient(to right, #3196be, #1258a8); 
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #db8514;
}

button:active {
    background-color: #c2cf0a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(2px);
}

#tarjeta {
    background-color: rgb(251, 255, 41);
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px; 
    height: auto; 
    margin: 20px auto;
    font-size: 30px;
    font-family: cursive;
    background-image: url('https://www.transparenttextures.com/patterns/tiny-grid.png');
    position: relative;
    word-wrap: break-word; 
    word-break: break-word;
}

#tarjeta h3 {
    font-size: 22px;
    color: #4caf50;
}

#tarjeta p {
    margin: 10px 0;
    color: #000000;
}

#tarjeta::before {
    content: "💥🎉💥";
    font-size: 40px;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
